video {
    
    width: 100vw;
    height: 25vh;
    object-fit: cover;
}

.video-overlay {
    background-color: #333;
    opacity: 0.6;
}



h1 {
    font-size: 50px;
    margin-bottom: 0;
}

p {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a {
    margin: auto;
    color: white;
}

a:hover {
    color:  rgb(46, 139, 87);
}