#tracker{
    position: relative;
    top: 6.2vh;
    height: 30vh;
}

#tab-content {
    width: 100vw;
    text-align: center;
    align-items: center;
    padding: 3vw;
}

mat-tab-group {
    top: 5vh;
    
}
