#tracker{
    position: relative;
    top: 6.2vh;
}

#tab-content {
    background-color: rgb(233, 232, 232);
    width: 100vw;
    margin: auto;
    padding: 5%;
    text-align: center;
}

#mat-tab-container{
    height: 30vh;
}

mat-tab-group {
    top: 5vh;
}
