<div id="tracker">
  <mat-tab-group mat-align-tabs="center" color= "accent" backgroundColor= "primary" >
    
    <mat-tab label="Graph">
      <ng-template matTabContent>
        <div id="tab-content">

          <div id="overshoot-progressbar">
            <p>Dein persönlicher Overshoot Day ist am {{ this.itemservice.getWeeklyOvershootDay()}}</p>
            <mat-progress-bar  mode="determinate" value="{{this.itemservice.getPersonal_overshoot_day_percentage()}}"></mat-progress-bar>

          </div>
          
          <app-graph></app-graph>
          
        </div>
        <app-add-item-button></app-add-item-button>
        </ng-template>
        
    </mat-tab>

    
    <mat-tab label="Liste">
      <div id="tab-content">

        <div id="overshoot-progressbar-list">
          <p>Dein persönlicher Overshoot Day ist am {{ this.itemservice.getWeeklyOvershootDay()}}</p>
          <mat-progress-bar  mode="determinate" value="{{this.itemservice.getPersonal_overshoot_day_percentage()}}"></mat-progress-bar>

        </div>

        <app-table></app-table>

      </div>

      <app-add-item-button></app-add-item-button>
    </mat-tab>
    
  </mat-tab-group>
  
</div>