<div id="tracker">
  <mat-tab-group mat-align-tabs="center" color= "accent" backgroundColor= "primary" >
    
    <mat-tab label="Graph">
      <ng-template matTabContent>
        
        <div id="tab-content">
          
          <app-graph></app-graph>

        </div>
        <app-add-item-button></app-add-item-button>
        </ng-template>
        
    </mat-tab>

    
    <mat-tab label="Liste">
      <div id="tab-content">

        <app-table></app-table>

      </div>

      <app-add-item-button></app-add-item-button>
    </mat-tab>


  </mat-tab-group>
 

</div>