#tracker{
    position: relative;
    top: 6.2vh;
}

#tracker::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 93.8vh;
    z-index: 1;
    opacity: 0.3;
    background-image: url('../../../assets/forest-blurred.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#tab-content {
    width: 100vw;
    text-align: center;
    align-items: center;
    padding: 5vw;
}

#overshoot-progressbar {
    margin-bottom: 20px;
}

#overshoot-progressbar-list{
    margin-bottom: 20px;
}

mat-tab-group {
    top: 5vh;
    
}
