<div class="header-container">
    <div class="video-container">
      <div class="video-filter over"></div>
      <video autoplay="true" loop="true">
        <source src="../../../assets/Forest.mp4" type="video/mp4">
        </video>
        <div class="video-text over">
          <h1>Co2unter - Keep the world alive!</h1>
          <p>Let's track your consumption</p>
          <a [routerLink]="['/second-section']" routerLinkActive="router-link-active">
            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              <path fill-rule="evenodd"
                d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
          
        </div>
    </div>
  </div>
  
