.container-first-section{
    width: 100vw;
    height: 60vh;
    margin: 0px 0px 0px 0px;
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
    color: whitesmoke;
    background: #2e8b57;
}

#first-section {
    height: 60vh;
}