<div class ="content">
    <h1>Hypothesen zur Zukunft</h1>
    <p></p>

    <ul>
    <li>Man rechnet damit, dass es im Jahr 2500 kein Eis mehr an den Polkappen mehr geben wird.
         Laut Andrew Shepherd hätte das einen Anstieg des globalen Meeresspiegels um 58 Meter zur Folge</li>
    <li>35 Prozent des Lands und 55 Prozent der globalen Bevölkerung 
        sind über 20 Tage pro Jahr tödlicher Hitze „jenseits der Schwelle menschlicher Überlebensfähigkeit“ ausgesetzt</li>
    <li>In der Folge brechen wichtige Ökosysteme zusammen, darunter Korallenriffe, der Amazonas-Regenwald und in der Arktis</li>
    <li>Für etwa zwei Milliarden Menschen in den am stärksten betroffenen Gebieten wird das Trinkwasser knapp</li>
    </ul>
</div>
