.header-container{
    width: 100vw;
    height: 100vh;
}

.video-container{
    width: inherit;
    height: inherit;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

video {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.over{
    position:absolute;
    
}

.video-filter {
    width: inherit;
    height: inherit;
    background-color: rgb(51,51,51, 0.4);
}

.video-text{
    text-align: center;
    color: rgb(46, 139, 87);
}


h1 {
    padding-top: 3rem;
    font-size: 3rem;
    margin-bottom: 0;
    color: white;
}

p {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0px;
    color: white;
}

a {
    margin: auto;
    color: white;
}

a:hover {
    color:  rgb(46, 139, 87);
}