
<div class ="content">

        <div class="list">
                <h1>Wie kann man seinen ökolgischen Fußabdruck verringern?</h1>
                <ul>
                <li><b>Weniger Food Waste:</b> 1/3 aller produzierten Nahrungsmittel wird weggeworfen </li>
                <li><b>Weniger Fleischkonsum:</b> vielleicht abschreckende Bilder wie bei Zigaretten auf die Verpackungen kleben </li>
                <li><b>Umstieg auf öffentliche Verkehrsmittel:</b> sicherer und deutlich umwelt- und klimafreundlicher </li>
                <li><b>Umweltfreundliche Stromanbieter</b> </li>
                </ul>
        </div>
   
</div>


