
<div class ="content">

        <div class="list">
        <h1>Wie kann man seinen ökolgischen Fußabdruck verringern</h1>
        <ul>
        <li>Weniger food waste (1/3 der gesamten produzierten Essen wird weggeworfen) </li>
        <li>Weniger Fleischkonsum (Bilder von Massentierhaltung/Tierschändung wie bei Zigaretten auf die Verpackungen kleben) </li>
        <li>Umstieg auf öffentliche Verkehrsmittel (sicherer und deutlich umwelt- und klimafreundlicher) </li>
        <li>Umweltfreundliche Stromanbieter </li>
        </ul>
        </div>
</div>


