<app-header></app-header>
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item item active">
        <img class="d-block w-100">
        <h1>Fact 1</h1>
        <p1>Ein Mensch produziert durchschnittlich 1104 kg CO2 pro Jahr schon allein durchs atmen</p1>
      </div>
      <div class="carousel-item item">
        <img class="d-block w-100">
        <h1>Fact 2</h1>
        <p2>Antarktis schrumpft es derzeit sechs Mal so schnell wie in den 1980er-Jahren </p2>
      </div>
      <div class="carousel-item item">
        <img class="d-block w-100">
        <h1>Fact 3</h1>
        <p3>Über 90% der Wissenschaftler sind sich einig, dass der Klimawandel von den Menschen verursacht wird</p3>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>